# =========================
# ENV / SECRETS
# =========================
.env
.env.*
!.env.example

# =========================
# PRIVATE KEYS
# =========================
*.pem
*.key
*.keystore

# =========================
# FOUNDRY
# =========================
cache/
out/
broadcast/

# =========================
# DEPENDENCIES
# =========================
lib/
node_modules/

# =========================
# EDITOR
# =========================
.vscode/
.idea/

# =========================
# LOGS
# =========================
*.log
